.box1{
  border: 1px solid white;
  width: 750px;
  height: 380px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: red;
}

.box2{
  border: 1px solid white;
  width: 360px;
  height: 380px;
  background-color: red;
}

.box3{
  border: 1px solid white;
  width: 350px;
  height: 200px;
  margin-right: 20px;
  background-color: red;
}

.box4{
  border: 1px solid white;
  width: 380px;
  height: 200px;
  background-color: red;
}

.box5{
  border: 1px solid white;
  width: 360px;
  height: 200px;
  margin-left: 20px;
  background-color: red;
}

.box6{
  border: 1px solid white;
  width: 1130px;
  height: 100px;
  background-color: red;
}
