@charset "UTF-8";

.container {
  display: flex;
  flex-direction: column;
}

.box {
  border: 1px solid #ff0000;
  display: block;
  width: 97%;
  height: 150px;
  margin: 20px auto;
  padding: 10px;
  max-width: 1100px;
}

.box-1 {
  flex-basis: 10%;
}

.box-2 {
  display: flex;
  flex-basis: 20%;
}


.box-3 {
  display: flex;
  flex-basis: 40%;
  flex-direction: row;
}



.box-4 {
  flex-basis: 30%;
}
