@charset "UTF-8";
@import "./style-base.css";

.box-master{
  display: flex;
  flex-direction: column;
  background-color: rgb(112, 122, 214);
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
}

.box-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 16px;
  border: 1px solid black;
  padding: 16px;
}

.box {
  min-height: 256px;
  border: 1px solid black;
}

#box1 {}

#box2 {
  flex-basis: 25%;
  margin-right: 16px;
}

#box3 {
  flex: 1;
}

#box4, #box5, #box6, #box7 {
  flex: 1;
  margin: 0 8px;
}

#box8, #box9, #box10 {
  flex: 1;
}

#box8 {
  border: 0;
  border-right: 1px solid black;
}

#box9 {
  border: 0;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#box10 {
  border: 0;
  border-left: 1px solid black;
}