@charset "UTF-8";

.container {
  display: flex;
  flex-direction: column;
}

.box {
  width: 99%;
  padding: 10px;
  border: 1px solid #cccccc;
}

.box-1 {
  height: 100px;
  background-color: #eec27e;
  margin: 20px 10px;
}

.box-2 {
    height: 200px;
    background-color: #acf2ba;
    margin: 10px;
}

.box-3 {
  height: 250px;
  background-color: #f5c3f1;
  margin: 20px 10px;
}

.box-4 {
  height: 220px;
  background-color: #9ceef0;
  margin: 10px 10px 10px 10px;
}
