
.box13{
  border: 1px solid white;
  width: 700px;
  height: 380px;
  margin-bottom: 20px;
}
.box14{
  border: 1px solid white;
  width: 360px;
  height: 200px;
  margin-bottom: 40px;

}
.box15{
  border: 1px solid white;
  width: 1080px;
  height: 120px;
}
